.features {
  border: 1px solid red;
  height: 750px;
  background: @gray-light;
  padding-top: 45px;

  @media @tablet-widths {
    height: 430px;
  }

  &__block {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    margin-bottom: 45px;
    text-align: center;
  }

  &__title {
    font-family: "Opens Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 10px;
    padding-bottom: 20px;
  }

  &__description {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;

  }
}
