.feedback {
  border: 1px solid red;
  height: 380px;
  text-align: center;

  &__hide {
    display: none;
  }

  &__item {
    margin-top: 45px;
    padding-bottom: 35px;
  }

  &__title {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
    padding-bottom: 15px;
  }

  &__description {
    width: 280px;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-weight: @normal;
    margin: 0 auto;
  }
}
