.page-footer {
  display: none;
  border: 1px solid red;
  padding-top: 50px;

  @media @tablet-widths {
    display: block;

    &__logo {
      float: left;
      width: 150px;
    }
  }

  @media @desktop-widths {
    display: block;

    &__logo {
      float: left;
      width: 150px;
    }
  }
}
