.price {
  width: 100%;
}
@media (min-width: 767px) {
  .price {
    font-size: 0;
  }
}
.price__item {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 40px 0;
  line-height: 30px;
  position: relative;
  text-align: center;
  border: 1px solid #999;
}
.price__item__item-hide {
  display: none;
}
@media (min-width: 767px) {
  .price__item {
    width: 25%;
    margin-right: -2px;
  }
}
.price__price-table {
  width: 100%;
  position: relative;
}
.price__options {
  display: inline-block;
  vertical-align: bottom;
  line-height: 30px;
  min-width: 150px;
  display: none;
}
@media (min-width: 767px) {
  .price__options {
    display: inline-block;
  }
}
.price__content-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
