.promo {
  border: 1px solid red;

  &__header {
    padding-bottom: 115px;
  }

  &__slogan {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 24px;
    line-height: 28px;
    font-weight: 100;
    text-align: center;
    padding-top: 40px;
    color: #283645;
  }
}
